/* this is styles code  */
/* banner styles start from here  */
.header{
    background-image: url('/images/banner/banner3.png');
    background-size: cover;
    background-position: center;
}

.header-aside{
    width: 50%;
    margin-left: auto;
    padding: 50px 20px;
    text-align: right;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.header-title{
    color: white;
    text-align: right;
    padding-right: 40px;
    font-size: 50px;
}

.header-description{
    color: white;
    text-align: right;
    padding-right: 40px;
    font-size: 20px;
    margin-top: 20px;
}

/* My failures container styles start from here 
 */

 .failures-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 20px;
 }

 .failures-container{
    margin-top: 100px;
 }

 .failures-container p{
    color: #444343;
 }

 .failures-container p span{
    color: #151414;
    font-weight: bold;
 }

 .failures-title{
    color: #151414;
    font-size: 36px;
 }